<!DOCTYPE html>
<html>
<head>
  <title>Uploaded Files</title>
</head>
<body>
  <h1>Uploaded Files</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Visibility</th>
        <th>Cost</th>
        <th>Year Published</th>
      </tr>
    </thead>
    <tbody>
        {% for file in files %}
      <tr>
        <td>{{ file.title }}</td>
        <td>{{ file.description }}</td>
        <td>{{ file.visibility }}</td>
        <td>{{ file.cost }}</td>
        <td>{{ file.year_published }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
